@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    scroll-behavior: smooth;
}

.card-shadow{
    background: rgb(0,0,0);
    background: linear-gradient(0deg, rgba(0,0,0,1) 50%, rgba(0,0,0,0.0) 80%); 
}

.post-card-shadow::after{
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    bottom: -320px;
    left: 0;
    background: rgb(0,0,0);
    background: linear-gradient(0deg, rgba(0,0,0,1) 50%, rgba(0,0,0,0.0) 100%); 
}

@media screen and (max-width: 1024px) {
    .post-card-shadow::after{
        bottom: -100px;
    }
}

.fixed-navbar{
    min-height: calc(100vh + 10px);
}