@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    scroll-behavior: smooth;
}

.card-shadow{
    background: rgb(0,0,0);
    background: linear-gradient(0deg, rgba(0,0,0,1) 50%, rgba(0,0,0,0.0) 80%);
    
}